<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<h1 th:text="#{fileList}"/>
<button
        class="btn btn-success"
        th:data-state="add"
        onclick="openAddOrEditModal(this)">+Upload file
</button>


<div th:unless="${#lists.isEmpty(files)}">


    <table class="table table-stripped">
        <thead>
        <tr>
            <th th:text="#{orderNumber}"/>
            <th style="cursor: pointer"
                onclick="sort(this)"
                th:data="name"
                th:text="#{name}"/>
            <th
                    onclick="sort(this)"
                    th:data="size"
                    style="cursor: pointer"
                    th:text="#{size}"/>
            <th
                    onclick="sort(this)"
                    th:data="date"
                    style="cursor: pointer"
                    th:text="#{date}"/>
            <th
                    onclick="sort(this)"
                    th:data="type"
                    style="cursor: pointer"
                    th:text="#{type}"/>
            <th colspan="2" th:text="#{action}"/>
        </tr>
        </thead>
        <tbody>
        <tr th:each="file : ${files}">
            <td th:text="${{fileStat.index+1}}"/>
            <td th:text="${{file.name}}"/>
            <td th:text="${{file.lastName}}"/>
            <td>
                <button
                        class="btn btn-warning"
                        th:data-id="${file.id}"
                        th:data-state="edit"
                        th:data-name="${file.name}"
                        onclick="openAddOrEditModal(this)">Edit
                </button>
            </td>
            <td>
                <button
                        class="btn btn-danger"
                        onclick="openDeleteModal(this)"
                        th:data-id="${file.id}"
                        th:data-name="${file.name}"
                >
                    Delete
                </button>

            </td>
        </tr>
        </tbody>
    </table>

</div>

<!--DELETE MODAL START-->
<div>
    <button id="deleteUserModalButton"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#deleteUserModal"
            hidden>
    </button>
    <div class="modal" id="deleteUserModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Delete user</h4>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal">
                    </button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p>Do you want to delete user?</p>
                    <p id="forFirstName"></p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <form th:action="@{/user/remove}"
                          method="post">
                        <input
                                type="text"
                                id="userId"
                                name="id"
                                hidden>
                        <button
                                class="btn btn-danger">Yes
                        </button> &nbsp;&nbsp;
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--DELETE MODAL FINISH-->

<!--EDIT MODAL START-->
<div>
    <button id="uploadModalButton"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#uploadModal"
            hidden>
    </button>
    <div class="modal" id="uploadModal">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <form
                        id="yuborish"
                        th:data-state="null"
                        onsubmit="return sendBackend(this)"
                        enctype="multipart/form-data"
                        method="post">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4
                                class="modal-title"
                                id="modalTitle"
                        ></h4>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal">
                        </button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <input
                                type="text"
                                name="id"
                                id="id"
                                hidden>
                        <label for="firstName">Firstname</label>
                        <input
                                type="text"
                                name="firstName"
                                id="firstName">
                        <br>
                        <label for="lastName">Lastname</label>
                        <input
                                type="text"
                                name="lastName"
                                id="lastName">
                        <br>
                        <label for="name">File</label>
                        <input
                                type="file"
                                name="ketmon"
                                multiple
                                id="name">
                        <br>
                    </div>


                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button
                                type="button"
                                class="btn btn-light"
                                data-bs-dismiss="modal">Close
                        </button>

                        <button
                                class="btn btn-danger">Yes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--EDIT MODAL FINISH-->

<form th:action="@{/user}"
      method="get"
>
    <input id="sort"
           type="text" name="sort" hidden>
    <button id="sortButton" hidden></button>

</form>

<script>
    function openDeleteModal(e) {
        document.getElementById("userId").value = e.getAttribute('data-id');
        document.getElementById("forFirstName").innerText = e.getAttribute('data-name');
        let modalOpenButton = document.getElementById("deleteUserModalButton");
        modalOpenButton.click();
    }

    function openAddOrEditModal(e) {
        let id = e.getAttribute("data-id");
        let state = e.getAttribute("data-state");
        let name = e.getAttribute("data-name");
        document.getElementById("id").value = id;
        document.getElementById("name").value = name;
        document.getElementById("yuborish").setAttribute("data-state", state);
        if (state === 'add') {
            document.getElementById("modalTitle").innerText = 'Upload file';
        } else {
            document.getElementById("modalTitle").innerText = 'Edit file';
        }
        document.getElementById("uploadModalButton").click();
    }

    function sendBackend(e) {
        let state = e.getAttribute("data-state");
        if (state === 'add')
            document.getElementById("yuborish").setAttribute("action", "/attachment/upload-with-bla2");
        else if (state === 'edit')
            document.getElementById("yuborish").setAttribute("action", "/attachment/upload");
        return true;
    }

    function sort(e) {
        document.getElementById("sort").value = e.getAttribute("data");
        document.getElementById("sortButton").click();

    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>