<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<h1 th:text="#{userList}"/>
<button
        class="btn btn-success"
        th:data-state="add"
        onclick="openAddOrEditModal(this)">+Add user
</button>

<div>
    <form
            method="get"
            th:action="@{/user}">
        <label for="size">Size</label>
        <select
                id="size"
                name="size">
            <option
                    th:selected="${size==10}"
                    value="10">10
            </option>
            <option
                    th:selected="${size==20}"
                    value="20">20
            </option>
            <option
                    th:selected="${size==50}"
                    value="50">50
            </option>
        </select>
        <input type="number"
               th:value="${currentPage}"
               hidden>
        <button>Set</button>
    </form>
</div>


<div>
    <form
            method="get"
            th:action="@{/user}">
        <label for="size">Search</label>
        <input
                placeholder="Search sth"
                id="search"
                name="search">

        <button>Search</button>
    </form>
</div>
<div th:unless="${#lists.isEmpty(users)}">


    <table class="table table-stripped">
        <thead>
        <tr>
            <th th:text="#{orderNumber}"/>
            <th style="cursor: pointer"
                onclick="sort(this)"
                th:data="first_name"
                th:text="#{firstName}"/>
            <th
                    onclick="sort(this)"
                    th:data="last_name"
                    style="cursor: pointer"
                    th:text="#{lastName}"/>
            <th colspan="2" th:text="#{action}"/>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${{userStat.index+1}}"/>
            <td th:text="${{user.firstName}}"/>
            <td th:text="${{user.lastName}}"/>
            <td>
                <button
                        class="btn btn-warning"
                        th:data-id="${user.id}"
                        th:data-state="edit"
                        th:data-firstName="${user.firstName}"
                        th:data-lastName="${user.lastName}"
                        onclick="openAddOrEditModal(this)">Edit
                </button>
            </td>
            <td>
                <button
                        class="btn btn-danger"
                        onclick="openDeleteModal(this)"
                        th:data-id="${user.id}"
                        th:data-name="${user.firstName}"
                >
                    Delete
                </button>

            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                <a class="page-link" th:href="@{/user(page=1,size=${size})}">First</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                <a class="page-link" th:href="@{/user(page=${currentPage - 1},size=${size})}">Previous</a>
            </li>
            <li class="page-item"
                th:each="i : ${#numbers.sequence(leftMin, leftMax)}"
                th:classappend="${currentPage == i+1 ? 'active' : ''}">
                <a class="page-link" th:href="@{/user(page=${i+1},size=${size})}" th:text="${i + 1}"></a>
            </li>

            <li class="page-item" th:class="disabled">
                <p class="page-link">...</p>
            </li>

            <li class="page-item"
                th:each="i : ${#numbers.sequence(rightMin,(pageCount + (-1)))}"
                th:classappend="${currentPage == i+1 ? 'active' : ''}">
                <a class="page-link" th:href="@{/user(page=${i+1},size=${size})}" th:text="${i + 1}"></a>
            </li>
            <li class="page-item" th:classappend="${currentPage == pageCount? 'disabled' : ''}">
                <a class="page-link" th:href="@{/user(page=${currentPage + 1},size=${size})}">Next</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == pageCount? 'disabled' : ''}">
                <a class="page-link" th:href="@{/user(page=${pageCount},size=${size})}">Last</a>
            </li>
        </ul>
    </nav>
</div>

<!--DELETE MODAL START-->
<div>
    <button id="deleteUserModalButton"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#deleteUserModal"
            hidden>
    </button>
    <div class="modal" id="deleteUserModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Delete user</h4>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal">
                    </button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p>Do you want to delete user?</p>
                    <p id="forFirstName"></p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <form th:action="@{/user/remove}"
                          method="post">
                        <input
                                type="text"
                                id="userId"
                                name="id"
                                hidden>
                        <button
                                class="btn btn-danger">Yes
                        </button> &nbsp;&nbsp;
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--DELETE MODAL FINISH-->

<!--EDIT MODAL START-->
<div>
    <button id="editUserModalButton"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#editUserModal"
            hidden>
    </button>
    <div class="modal" id="editUserModal">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <form
                        id="yuborish"
                        th:data-state="null"
                        onsubmit="return sendBackend(this)"
                        method="post">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4
                                class="modal-title"
                                id="modalTitle"
                        ></h4>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal">
                        </button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <input
                                type="text"
                                name="id"
                                id="id"
                                hidden>
                        <label for="firstName">First name</label>
                        <input
                                type="text"
                                name="firstName"
                                id="firstName">
                        <br>
                        <label for="lastName">Last name</label>
                        <input
                                type="text"
                                name="lastName"
                                id="lastName">
                        <br>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button
                                type="button"
                                class="btn btn-light"
                                data-bs-dismiss="modal">Close
                        </button>

                        <button
                                class="btn btn-danger">Yes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--EDIT MODAL FINISH-->

<form th:action="@{/user}"
      method="get"
>
    <input id="sort"
           type="text" name="sort" hidden>
    <button id="sortButton" hidden></button>

</form>

<script>
    function openDeleteModal(e) {
        document.getElementById("userId").value = e.getAttribute('data-id');
        document.getElementById("forFirstName").innerText = e.getAttribute('data-name');
        let modalOpenButton = document.getElementById("deleteUserModalButton");
        modalOpenButton.click();
    }

    function openAddOrEditModal(e) {
        let id = e.getAttribute("data-id");
        let state = e.getAttribute("data-state");
        let firstName = e.getAttribute("data-firstName");
        let lastName = e.getAttribute("data-lastName");
        document.getElementById("id").value = id;
        document.getElementById("firstName").value = firstName;
        document.getElementById("lastName").value = lastName;
        document.getElementById("yuborish").setAttribute("data-state", state);
        if (state === 'add') {
            document.getElementById("modalTitle").innerText = 'Add user';
        } else {
            document.getElementById("modalTitle").innerText = 'Edit user';
        }
        document.getElementById("editUserModalButton").click();
    }

    function sendBackend(e) {
        let state = e.getAttribute("data-state");
        if (state === 'add')
            document.getElementById("yuborish").setAttribute("action", "/user/add");
        else if (state === 'edit')
            document.getElementById("yuborish").setAttribute("action", "/user/edit");
        return true;
    }

    function sort(e) {
        document.getElementById("sort").value = e.getAttribute("data");
        document.getElementById("sortButton").click();

    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>