<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<h1>Welcome home page</h1>

<a th:href="@{/user}">Users</a>
<a th:href="@{/attachment}">Files</a>
</body>
</html>